@import "tailwindcss";
@source inline("{hover:,}bg-red-500");
@source inline("border-red-500");
@source inline("{hover:,}bg-blue-600");
@source inline("border-blue-600");

@source "../**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../pages/**/*.{js,ts,jsx,tsx}";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Helvetica", Arial, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
