# Set to any value to disable all Slack messaging and Airtable writes. Useful for development.
# DRY_RUN=true

# You can leave this as-is if you used the Docker command in the README to create your Postgres database!
DATABASE_URL="postgres://postgres:password@localhost:5432/game_development"

REDIS_URL=

# Used to create unified DB records for approved projects.
AIRTABLE_API_KEY=

# This is where we expect the production platform to be hosted on.
LIVE_URL_HOST=https://game.hackclub.com

# Hack Club Auth (HCA) details. Create an app on https://auth.hackclub.com!
ACCOUNT_CLIENT_ID=
ACCOUNT_CLIENT_SECRET=

SECRET_KEY_BASE=

# We use this to query Hackatime data. Create an app on https://hackatime.hackclub.com!
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=

# Cloudflare R2 information. We use R2 as our S3 bucket for file storage.
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET=hackclub-hctg

# Used mostly to query people's profile pictures and send messages as "Hack Club: The Game" on Slack.
# You can create a mock app at https://api.slack.com/apps!
SLACK_BOT_TOKEN=

# This is completely optional - we use Posthog on production for error tracking and analytics.
POSTHOG_API_KEY=
POSTHOG_HOST=

# You'll have to extract these from the Slack cookies on your browser. Used to force-add MCGs to our channels.
SLACK_XOXD_TOKEN=
SLACK_XOXC_TOKEN=

# The Slack channel to announce golden ticket winners to! It's C0ANEK1JZ6X (#hack-club-the-game) in production.
# ...you probably don't want this to be C0ANEK1JZ6X for local testing.
GOLDEN_TICKET_SLACK_CHANNEL=

# Integration with Sidekick (https://sidekick.ascpixi.dev) - a unified review platform. Optional - if Sidekick
# won't call /api/sidekick, this will never be read.
SIDEKICK_SECRET=
