DATABASE_URL="postgres://postgres:password@localhost:5432/game_development"

# By default, this is https://auth.hackclub.com. However, in a development environment, you probably want to use https://hca.dinosaurbbq.org/
# instead, which is our staging instance.
HCA_URL="https://auth.hackclub.com"

# You need these to log in!
# In order to set these up:
#   - enable developer mode in https://hca.dinosaurbbq.org/identity/edit
#   - go to https://hca.dinosaurbbq.org/developer/apps
#   - create an app, name it something like "Hack Club: The Game (Mock Environment)"
#   - set redirect URI to http://localhost:3100/auth/hca/callback
#   - enable all scopes, just to be sure
#   - copy both variables
# If you're using the production HCA server, replace hca.dinosaurbbq.org with auth.hackclub.com.
ACCOUNT_CLIENT_ID=""
ACCOUNT_CLIENT_SECRET=""

# Slack Bot Token for fetching announcements from the Slack channel.
# Required scopes: channels:history, users:read, chat:write (for getPermalink)
SLACK_BOT_TOKEN=""

# Slack xoxd and xoxc tokens for inviting new users to default channels.
SLACK_XOXD_TOKEN=""
SLACK_XOXC_TOKEN=""

# This is required when synchronizing Hackatime with Hack Club: The Game. When creating the app, put "http://localhost:3100/hackatime/callback" as the redirect URI.
HACKATIME_CLIENT_ID=""
HACKATIME_CLIENT_SECRET=""

# Airtable keys - should have access to the HCTG base
AIRTABLE_API_KEY

# Run `bin/rails db:encryption:init` to generate these
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=""
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=""
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=""

# ActiveStorage configuration
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_ENDPOINT=""
R2_BUCKET=""
