DATABASE_URL="postgres://postgres:password@localhost:5432/game_development"

# You need these to log in!
# In order to set these up:
#   - enable developer mode in https://auth.hackclub.com/identity/edit
#   - go to https://auth.hackclub.com/developer/apps
#   - create an app, name it something like "Hack Club: The Game (Mock Environment)"
#   - copy both variables
ACCOUNT_CLIENT_ID=""
ACCOUNT_CLIENT_SECRET=""
